In [1]:
#Pandas (like Excel)

#series -- similar to arrays but can have axis labels insted of index
#it can hold any python object

import numpy as np
import pandas as pd

#Create Series from a list or numpyArray or dictionary
d= {'a':10, 'b':20, 'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array(my_list)
pd.Series(data= my_list)
pd.Series(data=my_list, index= labels)

a    10
b    20
c    30
dtype: int64

In [6]:
ser1 = pd.Series([1,2,3,4], ['USA','Germany','USSR','Japan'])

ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy','Japan'])

ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [26]:
#data frame
from numpy.random import randn
np.random.seed(101) #to give same random values every time
df = pd.DataFrame(randn(5,4), index=' A B C D E'.split(), columns = 'W X Y Z'.split())#split to split the data in rows or cloms
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [14]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [27]:
#Create a new column
df['new'] = df['W'] +df['Z']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [17]:
df.drop('new',axis = 1)# we have to decide which axis does 'new' appear in

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [28]:
# the drop will not be inplace unless specified
df.drop('new', axis=1, inplace= True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [31]:
#Selecting rows
df.loc[['A']]

         W         X         Y         Z
A  2.70685  0.628133  0.907969  0.503826

In [33]:
#select based on position instead of label
df.iloc[[2]]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [35]:
#select subset of rows and cols
df.loc[['A','B'],['W','Z']] #first rows then cols

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965

In [37]:
#conditiona Selection
df>0 #like is df items >0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [38]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [39]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [40]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [42]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [43]:
#drop missing data (NaN)
df.dropna()

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [44]:
#To fill the nan items with values
df.fillna(value='Filled')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [45]:
#data input and output
#reading from a file
data = pd.read_csv('Sample_data.csv')
data

FileNotFoundError: [Errno 2] File Sample_data.csv does not exist: 'Sample_data.csv'